.toggle-btn {
  padding: 0.4rem 1rem;
  background: #d51820;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  font-size: 0.9rem;
}

.toggle-btn:hover {
  background: #bb151b;
}
